<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css'%}"/>
      {% block link%}
      {% endblock %}

      <title>
        {% block title %}
        {% endblock %}
    </title>

  </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="">My LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class=" navbar-nav my-2 my-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">HOME</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'certificate'%}">CERTIFICATES</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'gallery' %}">GALLERY</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="{% url 'contact' %}">CONTACT ME</a>
              </li>
          </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    </body>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>